In [1]:
import numpy as np
from random import shuffle
import re 
import pandas as pd

In [2]:
data_df = pd.read_csv('data.csv')
data_df.drop(data_df.columns[[0]], axis=1, inplace = True)  
data_df.head()

,img_name,img_path,img_type,video_id,videos.type,structure.type
0,big___12_02_2015___daigiadinh12-02-2015_09g20-...,/home/anla/Source/data/images/videos/550010a31...,big,550010a317dc1326437376fd,TV show,TV show
1,Dai_gia_dinh___12_02_2015___daigiadinh12-02-20...,/home/anla/Source/data/images/videos/550010a31...,unknown,550010a317dc1326437376fd,TV show,TV show
2,small___12_02_2015___daigiadinh12-02-2015_09g2...,/home/anla/Source/data/images/videos/550010a31...,small,550010a317dc1326437376fd,TV show,TV show
3,small___09_06_2015___dang_nam3_zing09-06-2015_...,/home/anla/Source/data/images/videos/5576a10a1...,small,5576a10a17dc1328689cf1b8,the-thao,the-thao
4,Tap_1___09_06_2015___dang_nam3_zing09-06-2015_...,/home/anla/Source/data/images/videos/5576a10a1...,series,5576a10a17dc1328689cf1b8,the-thao,the-thao

In [3]:
def count_video(data_df):
    return len(data_df.groupby('video_id').nunique())

def countvideo_by_imgtype(data_df, img_type):
    return len(data_df.loc[np.where(data_df['img_type'] == img_type)[0]].groupby('video_id').nunique()) 

def count_imgtype(data_df, img_type):
    return len(data_df.loc[np.where(data_df['img_type'] == img_type)[0]])

In [4]:
video_imgtype = dict()
imgtype = dict()
for img_type in ['small', 'big', 'standing', 'series', 'unknown']:
    video_imgtype[img_type] = countvideo_by_imgtype(data_df, img_type)
    imgtype[img_type] = count_imgtype(data_df, img_type)
print 'Number of video: %d' % count_video(data_df)
print 'Number of video by image type: ', video_imgtype
print 'Number of image by image type: ', imgtype

Number of video: 47801
Number of video by image type:  {'small': 47767, 'big': 12480, 'unknown': 26071, 'series': 19355, 'standing': 15343}
Number of image by image type:  {'small': 47767, 'big': 12480, 'unknown': 47176, 'series': 267697, 'standing': 15343}

In [5]:
movie_df = pd.read_csv('movie_all.csv')
movie_df.drop(data_df.columns[[0]], axis=1, inplace = True)  
movie_df.head()

,Unnamed: 0,Unnamed: 0.1,img_path,img_type,video_id,videos.type,structure.type
0,0,262144,/home/anla/Source/data/images/videos/587d9c7e1...,series,587d9c7e17dc133d791e7eca,phim-bo,phim-bo
1,1,262145,/home/anla/Source/data/images/videos/587d9c7e1...,series,587d9c7e17dc133d791e7eca,phim-bo,phim-bo
2,2,262146,/home/anla/Source/data/images/videos/587d9c7e1...,series,587d9c7e17dc133d791e7eca,phim-bo,phim-bo
3,3,262147,/home/anla/Source/data/images/videos/587d9c7e1...,series,587d9c7e17dc133d791e7eca,phim-bo,phim-bo
4,4,262148,/home/anla/Source/data/images/videos/587d9c7e1...,series,587d9c7e17dc133d791e7eca,phim-bo,phim-bo

In [7]:
video_imgtype = dict()
imgtype = dict()
for img_type in ['small', 'big', 'standing', 'series', 'unknown']:
    video_imgtype[img_type] = countvideo_by_imgtype(movie_df, img_type)
    imgtype[img_type] = count_imgtype(movie_df, img_type)
print 'Number of video: %d' % count_video(movie_df)
print 'Number of video by image type: ', video_imgtype
print 'Number of image by image type: ', imgtype

Number of video: 9820
Number of video by image type:  {'small': 9817, 'big': 6232, 'unknown': 6391, 'series': 3491, 'standing': 9422}
Number of image by image type:  {'small': 9817, 'big': 6232, 'unknown': 10081, 'series': 122076, 'standing': 9422}