In [1]:
import numpy as np
import pandas as pd
from datapath_process import get_list_dir, get_list_filedir, get_list_filename

In [2]:
PATH_ROOT_PROJ = '../..'

## Create data

In [3]:
data_folder = 'data/user_data'
all_files = get_list_filedir('%s/%s' % (PATH_ROOT_PROJ, data_folder))
print all_files

['../../data/user_data/2017-08-31.csv', '../../data/user_data/2017-08-06.csv', '../../data/user_data/2017-08-18.csv', '../../data/user_data/2017-08-29.csv']

In [36]:
def  pre_process(all_files):
    usecols = ["timestamp", "receive_time", "arg_duid", "arg_uid", "arg_se_la", "arg_se_ca", "arg_se_ac"]
    df_all = pd.DataFrame(columns = usecols)

    for f in all_files:
        df = pd.read_csv(f, header=0, delimiter='\t', usecols = usecols, dtype = 'str', na_values=["null"])
        df_all = df_all.append(df)
    df_playvod = df_all.iloc[np.where((df_all['arg_se_ac'] == "play") & (df_all['arg_se_ca'] == 'vod'))[0]]
    df = df_playvod.dropna(axis=0, how='any', inplace = False).reset_index(drop=True)
    del df['arg_se_ca'] 
    del df['arg_se_ac']
    df.columns = ['timestampe', 'receive_time', 'devide_id', 'user_id', 'video_id']
    return df
df = pre_process(all_files)
print len(df)
df.head()
df.to_csv('files/user_history.csv')

109782

## Data overview

In [74]:
df[df['user_id'] == '009412']

,timestampe,receive_time,devide_id,user_id,video_id
43765,2017-08-06 08:43:07,2017-08-06 08:29:03,E017B9E0-22A0-4BDA-880F-D2BDE3437890,009412,55f8e6a417dc130c376404c9
75153,2017-08-06 08:29:25,2017-08-06 08:28:00,E017B9E0-22A0-4BDA-880F-D2BDE3437890,009412,54ff9f5317dc13264373765a
92573,2017-08-06 08:24:47,2017-08-06 08:25:38,E017B9E0-22A0-4BDA-880F-D2BDE3437890,009412,54ff9f9717dc132643737677
94322,2017-08-06 08:44:10,2017-08-06 08:41:53,E017B9E0-22A0-4BDA-880F-D2BDE3437890,009412,55f8e6a417dc130c376404c9

In [73]:
def count_by_userid(df, field):
    return df.groupby([field]).count()
count_by_userid(df, 'user_id').head(10)

         timestampe  receive_time  devide_id  video_id
user_id
000398            1             1          1         1
000697            3             3          3         3
001459            5             5          5         5
001537            6             6          6         6
003279            1             1          1         1
004905            1             1          1         1
005488            1             1          1         1
007244            1             1          1         1
008010            1             1          1         1
009412            4             4          4         4

In [69]:
def avg_by_userid(df, field):
    return df.groupby([field]).count().mean()
avg_by_userid(df, 'user_id')

timestampe      3.345176
receive_time    3.345176
devide_id       3.345176
video_id        3.345176
dtype: float64

In [78]:
# del df['timestampe']
# del df['receive_time']
df.drop_duplicates(inplace = True)

In [79]:
count_by_userid(df, 'user_id').head(10)

         devide_id  video_id
user_id
000398           1         1
000697           1         1
001459           1         1
001537           3         3
003279           1         1
004905           1         1
005488           1         1
007244           1         1
008010           1         1
009412           3         3

In [80]:
df[df['user_id'] == '009412']

                                  devide_id user_id                  video_id
43765  E017B9E0-22A0-4BDA-880F-D2BDE3437890  009412  55f8e6a417dc130c376404c9
75153  E017B9E0-22A0-4BDA-880F-D2BDE3437890  009412  54ff9f5317dc13264373765a
92573  E017B9E0-22A0-4BDA-880F-D2BDE3437890  009412  54ff9f9717dc132643737677

In [81]:
avg_by_userid(df, 'user_id')

devide_id    1.941496
video_id     1.941496
dtype: float64